extends layout

block content
    #history-container
        table#TableHistory.table.table-striped.dt-responsive.no-footer.dtr-inline.collapsed
            thead.thead-dark
                tr
                    th(style='display: none;') Id
                    th Kenteken
                    th Inrit Datum + Tijd
                    th Uitrit Datum + Tijd
                    th Totale tijd:
                    th Prijs:
                    th Prijs Per Uur:
            tbody
            each val in EntireHistory
                tr.history-tr
                    td.history-id(style='display: none;')
                    td.history-Inrit #{val.Numberplate}
                    td.history-Inrit #{val.Entry}
                    td.history-Uitrit #{val.Exit}
                    td.history-Tijd #{val.Duration}
                    td.history-Prijs € #{val.Price}
                    td.history-Prijs € #{val.PricePerHour}
